.button {
  font-family: var(--font-text);
  line-height: 100%;
  cursor: pointer;
  transition: 0.4s all;

  &.fullWidth {
    width: 100%;
  }

  &.default {
    font-size: 18px;
    padding: 16px 8px;
    border-radius: 16px;
  }

  &.sm {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 8px;
  }
}

.primary {
  background: var(--background-gradient);
  box-shadow: var(--gradient-shadow);

  &:hover {
    box-shadow: none;
  }
}
