.button {
  font-family: var(--font-text);
  line-height: 100%;
  cursor: pointer;
  transition: 0.4s all;

  &.fullWidth {
    width: 100%;
  }

  &.default {
    font-size: 18px;
    padding: 16px 8px;
    border-radius: 16px;
  }

  &.sm {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: var(--shadowSm);
  }
}

.primary {
  background: var(--surface);
  box-shadow: var(--shadow);
  border: 1px var(--border) solid;

  &:hover {
    box-shadow: none;
    background: var(--surface-hover);
  }
}
