.group {
  margin-left: calc(var(--level) * 5px);

  &.open .arrow {
    transform: rotate(-90deg);
  }
}

.groupHeader {
  display: flex;
  border-bottom: 1px black solid;
  user-select: none;
}

.groupName {
  cursor: pointer;
  padding: 2px 0px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.groupActions {
  display: flex;
  gap: 4px;
  align-items: center;
}

.groupAction {
  cursor: pointer;
  padding: 4px 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.061);
  }
}
