body {
  background: #f1f3f8;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  background: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p,
button,
strong,
span,
label,
li,
a {
  font-family: var(--font-text);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
}
