body {
  background: var(--background-gradient);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  background: none;
  transition: 0.4s;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p,
button,
strong,
span,
label,
li,
a,
th,
td,
input {
  font-family: var(--font-text);
  color: var(--text-primary);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  color: var(--text-primary);
}
