.panelHeader {
  background: var(--surface);
  border-radius: 16px;
  box-shadow: var(--shadow);
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  border: 1px var(--border) solid;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItem {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  padding: 16px 8px;

  &:hover {
    font-weight: 600;
  }
}
