.input {
  //   background: var(--background-gradient);
  //   box-shadow: var(--gradient-shadow);
  padding: 16px;
  border-radius: 16px;
  font-size: 18px;
  width: 100%;
  background: none;
  border: 1px rgba(0, 0, 0, 0.106) solid;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.041);
}
