.adminSidebarWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panelsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.panelListItem {
  padding: 0 0 8px 0;
  border-bottom: 1px var(--border-strong) solid;

  &:hover {
    font-weight: 600;
  }
}
