.table {
  border-collapse: collapse;
  width: 100%;
}

.thead {
  .th {
    padding: 4px 8px;
    font-family: var(--font-head);
    text-align: left;
  }
}

.tr {
  border-bottom: 1px rgba(0, 0, 0, 0.088) solid;
}

.expandOpen {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.034);
  }
}

.extendContent {
  display: none;

  &.open {
    display: table-row;
  }
}

.tbody {
  .td {
    padding: 4px 8px;
    font-family: var(--font-text);
  }
}
